body {
margin: 0px;
background-color: #FFFFFF;
}

td, div, p {
font-family: verdana, helvetica, sans-serif;
font-size: 12px;
color: #666666;
line-height: 14px;
}

a {
color: #006699;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.blue {
color: #009ee0;
}

#header_bg{
width: 100%;
height: 72px;
background: url(../img/header_bg.gif) repeat-x;
}

#header {
width: 760px;
height: 72px;
background: url(../img/header.gif) no-repeat top left;
float: left;
}

#site {
width: 100%;
position: relative;
top: -53px;
font-size: 12px;
color: #FFFFFF;
font-weight: bold;
text-align: center;
}

#panel {
margin: 5px auto;
width: 805px;
height: 634px;
}

#panel_left {
width: 403px;
height: 688px;
background: url(../img/panel_left.gif) no-repeat top left;
float: left;
}

.left1 {
padding: 175px 20px 0 30px;
}

.left2 {
padding: 55px 0 0 30px;
}

.left3 {
padding: 60px 0 0 30px;
}

.btn {
padding: 8px 0 20px 0;
}

#panel_right {
width: 402px;
height: 688px;
background: url(../img/panel_right.gif) no-repeat top left;
float: left;
}

.right1 {
padding: 175px 20px 0 30px;
}

.right2 {
padding: 50px 0 0 30px;
}

.right3 {
padding: 60px 0 0 30px;
}


#footer {
width: 95%;
height: 1px;
margin: 100px 20px 0 20px!Important;
margin: 45px 20px 0 20px;
padding: 8px 0 0 12px;
border-top: 1px solid #c4c4c4;
font-size: 10px;
color: #333333;
}

